<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mbahr.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:name=".Fragments.GlobalClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="InnerclassSeparator">
        <activity android:name=".Login">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN"
                    android:windowSoftInputMode="stateVisible|adjustPan" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Home"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name=".Register"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name=".SplashScreen"
            android:windowSoftInputMode="stateVisible|adjustPan" />

        <activity
            android:name=".Fragments.MainFragment"
            android:label="@string/title_activity_request_infos_fragment"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="DuplicateActivity,InnerclassSeparator"></activity>
    </application>

</manifest>